In [12]:
import pandas as pd
import math

In [47]:
# read in data

injuries = pd.read_excel("data/Climbing Injuries REAL.xlsx")

In [48]:
injuries.head()

,Respondent ID,Collector ID,Start Date,End Date,IP Address,Email Address,First Name,Last Name,Custom Data 1,What is your age?,...,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Did you require surgery? And are you satisfied with the surgery?,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,What surgery did you require? (leave blank if none)
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0-18,...,1-2 years,2-5 years,I've never recovered and climb worse,I'm still recovering,Yes and satisfied with surgery,Yes and not satisfied with surgery,No,"No, but I had prescribed physical/occupational...",Other (please specify),Open-Ended Response
1,6901484638,167721399.0,2018-06-16 13:06:09,2018-06-16 13:07:36,47.215.141.232,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,8,1,NaN,NaN,NaN,NaN,Reattached the distal bicep tendon
2,6899295413,167721399.0,2018-06-12 17:38:24,2018-06-12 17:40:01,173.244.48.30,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,8,1,NaN,NaN,NaN,NaN,"microfracture, biocartilage"
3,6893714449,167721399.0,2018-06-04 09:58:51,2018-06-04 10:00:50,104.129.192.65,NaN,NaN,NaN,NaN,NaN,...,5,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,"""Repair of peroneal tendons"""
4,6892980150,167721399.0,2018-06-03 03:17:28,2018-06-03 03:19:06,97.118.202.97,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,8,NaN,NaN,3,NaN,NaN,NaN

In [49]:
# format df to more usable format

col_dict = {}

for col in list(injuries):
    try:
        if type(injuries.iloc[0:1][col][0]) == str:
    #         print(col)
    #         print(injuries.iloc[0:1][col][0])
            col_dict[col] = injuries.iloc[0:1][col][0]
    except:
        a = 1
#         print(col)
    
# rename columns 
injuries = injuries.rename(columns=col_dict)

# drop unnecessary columns
injuries = injuries.drop(["Respondent ID", "Collector ID", "Email Address", "First Name", "Last Name", "Custom Data 1"], axis=1)

In [50]:
injuries.head()

,Start Date,End Date,IP Address,0-18,19-26,27-35,36-45,46-60,61+,Male,...,1-2 years,2-5 years,I've never recovered and climb worse,I'm still recovering,Yes and satisfied with surgery,Yes and not satisfied with surgery,No,"No, but I had prescribed physical/occupational therapy",Other (please specify),Open-Ended Response
0,NaN,NaN,NaN,0-18,19-26,27-35,36-45,46-60,61+,Male,...,1-2 years,2-5 years,I've never recovered and climb worse,I'm still recovering,Yes and satisfied with surgery,Yes and not satisfied with surgery,No,"No, but I had prescribed physical/occupational...",Other (please specify),Open-Ended Response
1,2018-06-16 13:06:09,2018-06-16 13:07:36,47.215.141.232,NaN,NaN,3,NaN,NaN,NaN,1,...,NaN,NaN,NaN,8,1,NaN,NaN,NaN,NaN,Reattached the distal bicep tendon
2,2018-06-12 17:38:24,2018-06-12 17:40:01,173.244.48.30,NaN,NaN,NaN,4,NaN,NaN,1,...,NaN,NaN,NaN,8,1,NaN,NaN,NaN,NaN,"microfracture, biocartilage"
3,2018-06-04 09:58:51,2018-06-04 10:00:50,104.129.192.65,NaN,NaN,3,NaN,NaN,NaN,NaN,...,5,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,"""Repair of peroneal tendons"""
4,2018-06-03 03:17:28,2018-06-03 03:19:06,97.118.202.97,NaN,NaN,NaN,4,NaN,NaN,NaN,...,NaN,NaN,NaN,8,NaN,NaN,3,NaN,NaN,NaN

In [37]:
injuries.describe()

       Collector ID  Email Address  First Name   Last Name
count         237.0            0.0         0.0    3.000000
mean    167721399.0            NaN         NaN  158.000000
std             0.0            NaN         NaN  114.249726
min     167721399.0            NaN         NaN   27.000000
25%     167721399.0            NaN         NaN  118.500000
50%     167721399.0            NaN         NaN  210.000000
75%     167721399.0            NaN         NaN  223.500000
max     167721399.0            NaN         NaN  237.000000